/* Command Common */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
html{
  font-family: Helvetica, sans-serif;
}
/* Header  */

/* Row */
.container{
  height: 50px;
  line-height: 50px;
  background-color: rgb(54,	93,	224)	; 
}
.row{
  width: 80%;
  margin: auto;
  line-height: 50px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
nav ul li a, .btn a, .content a{
  text-decoration: none;
}
nav ul, .logo{
  float: left;
}
.container .btn{
float: right;
}
.logo, .btn a{
  width: 25%;
}
ul{
  width: 50%;
}
.logo img{
  vertical-align: middle;
}
nav a{
  color: #fff;
}
.row .btn a{
  color: #000;
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 40px;
}
/* Jumbotron */
.jumbotron{
  height: 450px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}
.content{
  max-width: 650px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-size: 50px;
  padding: 80px 0 50px 0;
}
.content p{
  font-size: 18px;
  padding-bottom: 40px;
}
.content .btn-big{
  color: #000;
  background-color: #fff;
  padding: 20px 32px;
  border-radius: 40px;
  margin: 0 10px;
}
.content h1, .content p{
  color: #fff;
}
.content .black{
  color: #fff;
  background-color: #000;
}
.fas{
  margin-right: 10px;
}